/* CHECKOUT */

.formulario {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

form {
    max-width: 600px;
    margin: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-salvar {
        position: relative;
        padding-left: 30px;
        margin-top: 20px;
    }

    .checkbox-salvar input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
    }
    
.container-checkout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.compra {
    margin-top: 20px;
    width: 500px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.cupon-desconto {
    width: 300px;
    height: 56px;
    margin-top: 35px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cupon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.envia-compra {
    width: 190px;
    height: 56px;
    margin-top: 20px;
    padding: 20px;
    background: #db4444;
    color: #fafafa;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

h2 {
        text-align: center;
        color: #333;
        font-weight: bold;
        font-size: 20px;
}

.total-pagar {
    width: 422px;
    height: 136px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.checkout-cartao,
    .checkout-dinheiro {
        position: relative;
        padding-left: 30px;
        margin-top: 20px;
    }

    .checkout-cartao input[type="checkbox"],
    .checkout-dinheiro input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
    }

/* CSS para a lista de itens do carrinho */
.cart-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    margin: 5% 4% 5%;
    font-size: 16px;
}

.cart-item-image {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.cart-item-description {
    flex: 1;
}

.cart-item-quantity {
    margin-right: 20px;
}

.cart-item-price {
    font-weight: bold;
}

.header-cart {
    display: none;
}


@media (max-width: 850px) {
    .container-checkout {
    display: flex;
    flex-direction: column;
    }
  }