@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products .banner {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.products .title {
  margin-top: 4rem;
  text-align: center;
  font-weight: 700;
}

footer {
  margin-top: 5rem;
  width: 100%;
}

footer .footer {
  height: 400px;
}

/*menu style*/
.title-container {
  position: relative;
  overflow: hidden;
  width: auto;
  
}

.title-container h2 {
  position: absolute;
  left: -100%;
  animation: slideRight 11s linear infinite;

}

@keyframes slideRight {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
} 

/*PÁGINA WISHLIST*/

.flex-wishlist {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}


.btn-button {
  padding: 10px 10px;
  background-color: white;
  border: 2px solid;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-button:hover {
  background-color: lightblue;
}

.img_flex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 3%;
  margin-top: 2%;
}


.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  position: relative;

}

.card img {
  width: 100%;
  height: 250px;
}

.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.h3 {
  font-size: 25px;
  margin-left: 5%;

}

/*Página cart*/
.container {
  width: 1170px;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  width: 1170px;
  height: 72px;
  padding: 24px 39px;
  background: white;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.content {
  /* Estilo do conteúdo do item */
}

.buttons {
  display: flex;
  gap: 757px;
}

.button {
  padding: 16px 48px;
  border-radius: 4px;
  border: 1px rgba(0, 0, 0, 0.50) solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar {
  display: flex;
  gap: 173px;
}

.coupon {
  display: flex;
  gap: 16px;
}

.coupon-text {
  opacity: 0.50;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.coupon-button {
  padding: 16px 48px;
  background: #DB4444;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FAFAFA;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.cart-total {
  /* Estilo do total do carrinho */
}

.checkout-button {
  padding: 16px 48px;
  background: #DB4444;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FAFAFA;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}





/*Final página cart*/


/*---------PÁGINA HOME----------*/
@media screen and (min-width: 1024px) {
  header {
    background-color: white !important;
  }

  header h2 {
    color: white;
  }

  header .title-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  header .nav-container {
    display: flex;
    gap: 60px;
    align-items: center;
    width: 390px;
    height: 30px;
  }

  .nav-container {
    margin-right: 300px;
  }

  header .logo-container {
    display: block;
  }

  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 150px;
  }

  .svg-container {
    display: flex;
    position: relative;

  }

  .containers {
    padding: 0 135px;
  }

  .flash-sales {
    margin-bottom: 36px;
  }

  .line {
    margin-top: 70px;
  }

  .search-container {
    display: flex;
    width: 300px;
    gap: 20px;
  }

  .container-products-title {
    display: block;
    gap: 40px;
  }

  .swiper {
    width: 90%;
    height: 400px;
  }
}