/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: rgb(158, 158, 255);
}

li {
    list-style-type: none;
}

/*menu teste*/
/* Estilos gerais */

header {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 4%;
    background-color: #f8f9fa;
    /* Cor de fundo do cabeçalho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.black-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    /* Altura da faixa preta */
    background-color: black;
    /* Cor da faixa preta */
    text-align: center;
}

.black-bar h2 {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    /* Evita quebrar o texto em várias linhas */
    overflow: hidden;
    /* Esconde o texto que ultrapassar a largura da div */
    animation: slideText 15s linear infinite;
    /* Aplica a animação de deslizamento */
    color: white;
}

@keyframes slideText {
    0% {
        transform: translateX(-100%);
        /* Inicia o texto fora da tela à direita */
    }

    100% {
        transform: translateX(100%);
        /* Desloca o texto para fora da tela à esquerda */
    }
}

.logo img {
    max-height: 50px;
}

.nav-menu {
    display: flex;
    margin: 2%;
}

.list-menu {
    display: flex;
    font-size: 20px;
    justify-content: space-around;

    width: 400px;
}

/* Estilos da barra de pesquisa e ícones */
.search-favorites-cart-profile {
    display: flex;
    align-items: center;
    gap: 5%;
}

.search-bar {
    position: relative;
}

.search-bar input {
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="text"] {
    padding-right: 30px;
    /* Adiciona espaço à direita para o ícone */
    transition: transform 0.3s ease;
}

input[type="text"]:hover {
    border-color: #007bff;
    /* Altera a cor da borda quando o mouse está sobre o input */
    transform: scale(1.1);
}

button[type="submit"] {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: none;
    border: none;
}

/* Estilo para o ícone */
button[type="submit"] i {
    color: #666;
    /* Cor do ícone */
}

/*final menu teste*/

/*PÁGINA WISHLIST*/

.flex-wishlist {
    display: flex;
    justify-content: space-between;
}

.flex-wish {
    display: flex;
    font-size: 23px;
    margin: 4% 5% 0%;
}

.btn-button {
    padding: 10px 10px;
    background-color: white;
    border: 1.5px solid gray;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 23px;
}

.btn-button:hover {
    background-color: lightblue;
}

.img_flex {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 3%;
    margin-top: 2%;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    position: relative;
}

.card img {
    width: 100%;
    height: 250px;
}

.add-to-cart-btn {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.h3 {
    font-size: 25px;
    margin-left: 5%;
}

/*final página wishlist*/

/*Página cart*/
/*items página cart*/
.header-cart {
    display: flex;
    width: auto;
    height: 65px;
    background: white;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    margin: 5% 3% 5%;
  }

  .header-item {
    display: flex;
    font-size: 18px;
  }
  
.navigation-container {
    width: 103px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    margin: 8% 5%;
  }
  
  .navigation-item {
    opacity: 0.50;
    color: rgb(160, 155, 155);
  }

  .navigation-item--md {
    color: black;
  }

.info-product {
    display: flex;
    width: auto;
    height: auto;
    background: white;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
    margin: 5% 4% 5%;
    font-size: 16px;
    text-align: center;
    align-items: center;
    
}

.title-image {
    display: flex;
    margin-left: 9%;
}

.title-image p {
    font-size: 16px;
    width: 180px;
    height: auto;
    padding: 3%;
}

.cart-item-image {
    display: flex;
    flex-direction: column; 
    width: 60px;
    height: 70px;
}

.info-details {
    display: flex;
    padding: 10px;
    margin: 3%;
    gap: 125%;
}

.item-quantity {
    width: 70px;
}

.price,
.total-price {
    font-weight: bold; /* Deixar o texto em negrito para destacar */
}

.empty-cart-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    
}

.empty-cart-message--md {
    display: flex;
    width: 300px;
    height: 50px;
    margin: 5%;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background: white;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
}
/*Final página cart*/


/*FOOTER TESTE*/
.containerFooter {
    display: flex;
    gap: 7%;
    background-color: black;
    width: auto;
    height: 440px;
    font-family: "Robot", sans-serif;
    padding: 5%;
}

.containerFooter--md {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding-bottom: 1%;
    font-size: 16px;
    font-family: "Robot", sans-serif;
    color: rgba(255, 255, 255, 1);
}

hr {
    border-color: #333;
}

.containerFooter li {
    padding: 2%;
}

.logoFooter {
    position: relative;
    width: 118px;
    height: 40px;
    margin-left: -2%;
}

.firstList {
    display: flex;
    color: white;
    list-style-type: none;
    width: auto;
}

.firstList li input {
    border: 1px solid white;
    background-color: black;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.input-icon input {
    padding-right: 40px;
}

.secondList {
    display: flex;
    color: white;
    list-style-type: none;
}

.threeList {
    display: flex;
    color: white;
    list-style-type: none;
}

.fourList {
    display: flex;
    color: white;
    list-style-type: none;
    width: auto;
}

.fiveList {
    display: flex;
    color: white;
    list-style-type: none;
    width: auto;
}

.fiveList img {
    width: 100px;
}

.fiveList-item--md img {
    display: flex;
    transform: translateX(110%) translateY(-280%);
}

.fiveList>.logos-redes-sociales {
    display: flex;
    height: 40px;
    width: 200px;
    align-items: end;
    justify-content: center;
    transform: translateY(500%) translateX(-90%);
    gap: 15%;
}

.logos-redes-sociales img {
    width: 40px;
    height: 35px;
}

/*FOOTER TESTE*/